*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(40, 40, 57);
}

.nav_bar .logo{
    width: 20%;
}
.nav_bar .logo img{
    width: 100%;
}
.nav_bar .menu{
    width: 40%;
    text-align: end;
}
.nav_bar .menu h1{
    color: #fff;
    font-weight: bold;
}
.nav_bar{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
section{
    padding: 3rem 0 ;
    background-color: rgb(40, 40, 57);
}
.countries{
    width: 100%;
    padding: 10px;
}
#List,#List10{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
}
#List10{
    
}
.location{
    color: rgb(101, 9, 9);
    font-size: 30px;
    position: absolute;
    
    width: 20%;
}
.txt{
    width: 50%;
    font-size: 12px;
}
.top{
    color: #fff;
    text-align: center;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.bottom .right{
    width: 40%;
}
.bottom .left{
    width: 40%;
    margin-left: 20px;
}
.bottom h1{
    color: #fff;
    font-size: 25px;
}
.new_info{
    border: 2px solid #fff;
    border-radius: 10px;

}
.search{
    width: 30%;
    margin-left: auto;
}