*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(40, 40, 57);
}

.nav_bar .logo{
    width: 20%;
}
.nav_bar .logo img{
    width: 100%;
}
.nav_bar .menu{
    width: 40%;
    text-align: end;
}
.nav_bar .menu h1{
    font-size: 100%;
    color: #fff;
    font-weight: bold;
}
.nav_bar{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section{
    padding: 3rem 0 ;
    background-color: rgb(40, 40, 57);
}
.countries{
    width: 32%;
    padding: 10px;
}
#List,#List10{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
}
.top-10 img{
    width: 100%;
}
.top-10 .map{
    position: relative;
}
.location{
    color: rgb(101, 9, 9);
    font-size: 30px;
    position: absolute;
    
    width: 20%;
}
.location i{
    cursor: pointer;
}
.l-1{
    top: 42%;
    left: 25%;
}
.l-2{
    top: 45%;
    left: 66%;
}
.l-3{
    top: 60%;
    left: 35%;
}
.l-4{
    top: 35%;
    left: 48%;
}
.l-5{
    top: 32%;
    left: 52%;
}
.l-6{
    top: 32%;
    left: 58%;
}
.l-7{
    top: 30%;
    left: 70%;
}
.l-8{
    top: 40%;
    left: 79%;
}
.l-9{
    top: 40%;
    left: 50%;
}
.l-10{
    top: 40%;
    left: 56%;
}
.txt{
    width: 50%;
    font-size: 12px;
}
.top{
    color: #fff;
    text-align: center;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.bottom .right{
    width: 40%;
}
.bottom .left{
    width: 40%;
    margin-left: 20px;
}
.bottom h1{
    color: #fff;
    font-size: 25px;
}
.new_info{
    border: 2px solid #fff;
    border-radius: 10px;

}
.search{
    width: 30%;
    margin-left: auto;
}